<%- include("partials/header.ejs", { currentPage: currentPage }) %>

<div id="recipe" class="content">
    <% if (locals.ingredients && locals.instructions) { %>
        <h1><%= title %></h1>
        <h2>Ingredients</h2>
        <ul>
            <% ingredients.forEach(ingredient => { %>
                <li>
                    <%= ingredient.amount.metric.value %> <%= ingredient.amount.metric.unit %> <%= ingredient.name %>
                </li>
            <% }); %>    
        </ul>
        <br>
        <h2>Method</h2>
        <ul>
            <% instructions.forEach(component => { %>
                <h3><%= component.name %></h3>
                <ol>
                    <% component.steps.forEach(step => { %>
                        <li>
                            <%= step.step %>     
                        </li>
                    <% }); %>                
                </ol>
            <% }); %>
        </ul> 
    <% } else { %>
        <h2>
            <h2 class="error"><%= error %></h2>
        </h2>
    <% } %>
</div>

<%- include("partials/footer.ejs") %>
