<%- include("partials/header.ejs", { currentPage: currentPage }) %>

<div id="results" class="content">
    <% if (locals.results) { %>
        <% results.forEach(result => { %>
            <a class="recipe-card" href="/recipe/<%= result.id %>?title=<%= result.title %>">
                <h2><%= result.title %></h2>
                <img src="<%= result.image %>" alt="dish image">            
            </a>
        <% }); %>  
    <% } else { %>
        <% if (locals.error) { %>
            <h2 class="error"><%= error %></h2>
        <% } %>
    <% } %>     
</div>

<%- include("partials/footer.ejs") %>